<h1>Welcome to Our Book Store!</h1>

<a asp-action="Index" asp-controller="Products" class="btn btn-info">View Our Products</a>



<a asp-action="Index" asp-controller="Orders" class="btn btn-info">View Orders</a>
<a asp-action="Index" asp-controller="Suppliers" class="btn btn-info">View Suppliers</a>
<a asp-action="Index" asp-controller="RoleAdmin" class="btn btn-info">Manage Users</a>
